nav#nav-bar


  h1
    a(class='goHomePage' href='/welcome') edine 

  h3
    a(class='restaurantSearch' href='/restaurants') Search Restaurants

  h3 
    a(class='user search' href='/all-users') Find Food Buddies!

  h3 
    a(class='write review' href='/restaurants') Write a Review

  h3 
    a(class='followees' href='/followees-reviews') See Reviews of People I follow
  
  h3 
    a(class='my-food-buddies' href='/food-buddies') See My Food Buddies!
  
  h3 
    a(class='user-profile' href='/user') My Profile

  h5
    if session.passport
      span logged in as: #{session.passport.user.username}
      form(method="POST")
        <br>
          button(type="submit" formaction="/logout") logout