nav#nav-bar
  h1 
    a(class='goHomePage' href='/welcome') edine
  ul
    //- li
    //-   a(class='goHomePage' href='/welcome') edine 

    li
      a(class='restaurantSearch' href='/restaurants') Search Restaurants

    li 
      a(class='write review' href='/restaurants') Write a Review

    li 
      a(class='user search' href='/all-users') Find Food Buddies!

    li 
      a(class='my-food-buddies' href='/followees') See My Food Buddies!
    
    li 
      a(class='followees' href='/followees-reviews') See Food Buddies' Reviews
    
    li
    
    li 
      a(class='user-profile' href='/user') My Profile

    li
      if session.passport
        //- span logged in as: #{session.passport.user.username}
        form(method="POST")
          button.logoutBtn(type="submit" formaction="/logout") logout