@mixin box-shadow($x, $y, $offset, $blur) {
  -webkit-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  -moz-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
}

@mixin text-shadow($ems) {
  text-shadow: 0 $ems $ems rgba(0, 0, 0, 0.85);
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 120px;
  color: white;
  background-color: rgb(126, 53, 77);
}
#nav-bar h1 {
  // grid-row: 1; // puts it on first row
  grid-column: 1; //extends it all the way throught the columns
  // align-a: center;
  font-family: "Futura";
  font-size: 2rem;
  text-shadow: 4px 2px #bada55,
                5px 3px black
}

#nav-bar ul {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  padding: none;
  grid-column: 2/7;
  list-style-type: none;
}

#nav-bar li {
  margin: 5px 10px;
  // border: 1px black solid;
  border-radius: 50%;
}

#nav-bar a {
  font-family: "Futura";
  text-decoration: none;
  color: whitesmoke;
}

.logoutBtn {
  grid-column: 7;
  height: 50%;
  width: 40px;
  background: none;
  font-family: "Futura";
  text-decoration: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.review-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.review-card {
  cursor: pointer;
  flex-basis: 30%;
  text-align: left;
  margin: 10px 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  position: relative;
  @include box-shadow(2px, 7px, 20px, -1px);

  img {
    // max-width: 300px;
    height: 175px;
    width: 100%;
  }
}