@mixin box-shadow($x, $y, $offset, $blur) {
  -webkit-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  -moz-box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
  box-shadow: $x $y $offset $blur rgba(0, 0, 0, 0.61);
}

@mixin text-shadow($ems) {
  text-shadow: 0 $ems $ems rgba(0, 0, 0, 0.85);
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 120px;
  color: white;
  background-color: rgb(126, 53, 77);
}
#nav-bar h1 {
  // grid-row: 1; // puts it on first row
  grid-column: 1; //extends it all the way throught the columns
  // align-a: center;
  font-family: "Futura";
  font-size: 2rem;
  text-shadow: 4px 2px #bada55, 5px 3px black;
  margin-left: 1rem;
  
}

#nav-bar ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: none;
  grid-column: 2/7;
  list-style-type: none;
}

#nav-bar li {
  margin: 2px 8px;
  // border: 1px black solid;
  border-radius: 50%;
}

#nav-bar a {
  font-family: "Futura";
  text-decoration: none;
  color: whitesmoke;
}

.logoutBtn {
  font-size: 18px;
  grid-column: 7;
  height: 50%;
  width: 40px;
  background: none;
  font-family: "Futura";
  text-decoration: none;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-right: -200px;
}

.review-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

a {
  color: blue;
}

.review-card {
  cursor: pointer;
  flex-basis: 30%;
  text-align: left;
  margin: 10px 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  position: relative;
  @include box-shadow(2px, 7px, 20px, -1px);

  a {
    text-decoration: none;
  }

  // h2 {
  //   color: blue;
  // }

  img {
    // max-width: 300px;
    height: 250px;
    width: 100%;
  }

  .buttons {
    background-color: #bada55;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.9em;
    // position: relative;
    // bottom: 8px;
    // right: 30px;
    top: 1.5%;
    left: 75%;
    border: 0.16em solid rgba(255, 255, 255, 1);
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    @include text-shadow(0.04em);
    text-align: center;
    transition: all 0.2s;

    &:hover {
      border-color: rebeccapurple;
    }
  }
}
