extends index.pug

block content

  h1 All Users
  
  .review-container 
    each user in users
      .review-card
        h4
          if(user.id)
            a(href=(`/user/${user.id}`)) #{user.username} 
          else
            - alert("this user does not have any reviews");
          img(src="img/default_user_image.png")

    //- form#userFollow(name="addReview" action=`/follow-user/${review.user_id}` method="post")
    //-       button follow