extends index.pug

block content

  each user in users
    h4 #{user.username}

    //- form#userFollow(name="addReview" action=`/follow-user/${review.user_id}` method="post")
    //-       button follow