extends index.pug

block content

  h1 All Users
  
  each user in users
    h4
      a(href=(`/user/${user.id}`)) #{user.username}

    //- form#userFollow(name="addReview" action=`/follow-user/${review.user_id}` method="post")
    //-       button follow