html
  head
    meta(charset="utf-8")
    include stylesheets.pug
    title "edine"
  body

    include partials/navbar.pug
    //- d.transition-div

  block content
    <br>
    button.abuttons#goToLogin login
    button.abuttons#goToRegister register

    script   
      include ../client/home.js

      //Find out what the block content and temp form are