html
  head
    meta(charset="utf-8")
    include stylesheets.pug
    title "edine"
  body

    include partials/navbar.pug
    h1 edine

  block content
    button#goToLogin login
    button#goToRegister register

    script   
      include ../client/home.js

      //Find out what the block content and temp form are