extends index.pug

block content
  h1 search for restaurants

  input(type="text" name="restaurant_search" id="restaurant_search")
  button#searchRestaurants(type="submit") Search Restaurants

  d#out
  
  each restaurant in results
    ul
      h3
        a(href=(`/reviews/${restaurant.place_id}`)) #{restaurant.name}: #{restaurant.vicinity}

  script   
      include ../client/restaurant.js