extends welcome.pug

block content

  h1 #{userName}'s Page
  
  each review in data
    h1 #{review.dataValues.details.result.name}   
    p.
      #{review.review_description}


  //- h1 My Food Buddies Reviews
