extends index.pug

block content
  h1 Welcome to edine!

  each review in data
    h1 #{review.dataValues.details.result.name}   
    p.
      #{review.review_description}
      by #{review.User.username}
  //- h2 #{data.dataValues.details.result.name}